body {

    background: darkseagreen;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 { 
    color: whitesmoke;
    text-align: center;
}

.project {
    display:flex;
    flex-wrap:wrap;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; }

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: black;
border-radius: 25%;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(26, 208, 102);
display: block;
margin: auto;
}

a { 
text-decoration: none;
color: whitesmoke;
}
    
.project p {
text-align: center;
margin: 15px;
}
