body {

    background: lightblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 { 
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: blue;
}

.project {
width: 30%;
margin: 10px;
padding: 20px 20px;
flex-direction: column;
background: rgb(91, 88, 88);
border-radius: 25%;
align-items: center;
text-align: center;
color: white;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(56, 74, 64);
display: block;
margin: auto;
text-align: center;
align-items: center;
}

a { 
text-decoration: none;
color: whitesmoke;
text-align: center;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    color: whitesmoke;
    }

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(242, 240, 244);
    }

.about p {
    width:50%;
    margin: auto;
    text-align: center;
    line-height: 125%;
    color: whitesmoke;
}


.skills p {
    width:50%;
    margin: auto;
    text-align: center;
    line-height: 125%;
    color: whitesmoke;
}

.skills {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    color: whitesmoke;
    }